Survivors Classification on Titanic using  R
===

Wesley Nogueira Galvão 

July, 2019

# Introduction

# Question definition

# Data

## Data Dictionary

|Variable |Definition|Key|
|:---- |----|----:|
|survival  | Survival |0 = No, 1 = Yes|
|pclass |Ticket class| 1 = 1st, 2 = 2nd, 3 = 3rd|
|sex  |Sex| 	
|Age  | Age in years| 	
|sibsp| # of siblings / spouses aboard the Titanic |
|parch |# of parents / children aboard the Titanic |	
|ticket| Ticket number| 	
|fare 	|Passenger fare (British pound)| 	
|cabin 	|Cabin number| 	
|embarked |Port of Embarkation|C = Cherbourg, Q = Queenstown, S = Southampton|

**Variables Notes**
- pclass: A proxy for socio-economic status (SES)
    - 1st = Upper
    - 2nd = Middle
    - 3rd = Lower
- age: Age is fractional if less than 1. If the age is estimated, is it in the form of xx.5

- sibsp: The dataset defines family relations in this way...
    - Sibling = brother, sister, stepbrother, stepsister
    - Spouse = husband, wife (mistresses and fiancés were ignored)

- parch: The dataset defines family relations in this way...
    - Parent = mother, father
    - Child = daughter, son, stepdaughter, stepson
    - Some children travelled only with a nanny, therefore parch=0 for them.

# Strategies

# Exploratory data analysis

In [41]:
library('ggplot2')   # visualization
library('ggthemes')  # visualization
library('scales')    # visualization
library('dplyr')     # data manipulation
library('csv')       # CVS manipulation
library('tidyr')
library('janitor')

In [42]:
#Reading the datasets
train <- read.csv('train.csv', stringsAsFactors = F, header=T, na.strings=c(""))
test <- read.csv('test.csv', stringsAsFactors = F, header=T, na.strings=c(""))
#Bindind both parts to the same dataset
titanic_data <- bind_rows(train, test)

In [43]:
# head dataset visualization
head(titanic_data)

  PassengerId Survived Pclass
1 1           0        3
2 2           1        1
3 3           1        3
4 4           1        1
5 5           0        3
6 6           0        3
  Name                                                Sex    Age SibSp Parch
1 Braund, Mr. Owen Harris                             male   22  1     0
2 Cumings, Mrs. John Bradley (Florence Briggs Thayer) female 38  1     0
3 Heikkinen, Miss. Laina                              female 26  0     0
4 Futrelle, Mrs. Jacques Heath (Lily May Peel)        female 35  1     0
5 Allen, Mr. William Henry                            male   35  0     0
6 Moran, Mr. James                                    male   NA  0     0
  Ticket           Fare    Cabin Embarked
1 A/5 21171         7.2500 NA    S
2 PC 17599         71.2833 C85   C
3 STON/O2. 3101282  7.9250 NA    S
4 113803           53.1000 C123  S
5 373450            8.0500 NA    S
6 330877            8.4583 NA    Q

In [53]:
# dataset dimension
cat(sprintf('Dataset dimension: %d rows and %d columns',dim(titanic_data)[1], dim(titanic_data)[2]))

Dataset dimension: 1309 rows and 12 columns

In [56]:
titanic_data %>% 
 tabyl(Sex) %>%
 adorn_pct_formatting(digits = 1)

  Sex    n   percent
1 female 466 35.6%
2 male   843 64.4%

## Missing values

In [20]:
#Check for missing values by feature
sapply(titanic_data, function(x) sum(is.na(x)))

PassengerId    Survived      Pclass        Name         Sex         Age
          0         418           0           0           0         263
      SibSp       Parch      Ticket        Fare       Cabin    Embarked
          0           0           0           1        1014           2